@import "../../../../utils/Mixins.scss";

.st-header-deposit {
  width: 100%;

  .btn.btn-primary.btn-add-broker {
    width: 100%;
    margin: 0;

    &.disconnected {
      display: none;
    }
  }
}
.modal-deposit {
  width: 1230px !important;

  .ant-modal-content {
    background-color: $color-white;
    line-height: 1.5;

    .ant-modal-close {
      outline: none;
      cursor: pointer;
      color: $color-white;
      font-weight: bold;
    }

    .ant-modal-header {
      background-color: #16254c;
      color: $color-white;
      padding: $padding-large;

      .ant-modal-title {
        @include textStyle($font-size-medium, $color-white, bold);
      }
    }

    .ant-modal-body {
      width: auto;
      height: auto;
      padding: $padding-large;
    }
  }
}

